{{!-- <h1>Hello from Ember!</h1>
<p>This is my first Ember app fgfg🚀</p> --}}

import EmberRouter from '@ember/routing/router';
import config from './config/environment';

const Router = EmberRouter.extend({
location: config.locationType,
rootURL: config.rootURL,
});)

Router.map(function() {
  this.route('home');
  this.route('about');
  this.route('contact');
});

export default Router;


import Route from '@ember/routing/route';

export default class HomeRoute extends Route {}

import Route from '@ember/routing/route';

export default class AboutRoute extends Route {}

import Route from '@ember/routing/route';

export default class ContactRoute extends Route {}

<h2>Welcome to the Home Page!</h2>
<h2>About Us</h2>
<h2>Contact Us</h2>



<nav>
  {{#link-to "home"}}Home{{/link-to}}
  {{#link-to "about"}}About{{/link-to}}
  {{#link-to "contact"}}Contact{{/link-to}}
</nav>


{{outlet}}